

.container-carta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.container-navbarmobil{
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-botonera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-buttons{
    overflow-x: auto;
    scrollbar-width: none;
}

.container-buttons::-webkit-scrollbar{
    width: 7px;
}

/* .container-buttons::-webkit-scrollbar-thumb {
    background-color: transparent;
    
} */

.container-buttons:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFA800;
    }
    /* .container-buttons:hover{
        scrollbar-gutter:initial;
        scrollbar-width: thin;
        scrollbar-color: #FFA800;
    } */
.container-buttons::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    } 

.section-carta{
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 290px));
    grid-auto-rows: 180px;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    padding-top: 25px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-width: none;
}

@media (min-width: 437px) {
    .section-carta{
        grid-template-columns: repeat(auto-fit, minmax(140px, 160px));
    }
}

#section-carta::-webkit-scrollbar{
    width: 7px;
}
.section-carta::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.section-carta:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFA800;
}
.section-carta:hover{
    scrollbar-gutter:initial;
    scrollbar-width: thin;
    scrollbar-color: #FFA800;
}



.container-label-btn{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}