.div-master-payment{
    background-color: #f7f7f7;
}

.div-productos-payment{
    height: 70%;
    margin-top: 30px;
}



.h2-payment{
    margin-left: 80px;
}

.div-remove{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    color: #f7f7f7;
}

.btn-remove-payment{
    width: 30%;
    height: 100%;
    font-weight: 600;
    font-size: 1.1rem;
}

.container-articles{
    width:100%;
    height: 500px;
    background-color: rgba(189, 189, 214, 0.1) ;
    overflow-y: scroll;
}

.article-payment{
    width: 85%;
    height: 97px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
.img-art-payment{
    width: 80px;
    height: 80px;
    border-radius: 15px 10px 10px 15px;
    margin-left: 10px;
}
.span-count-art-payment{
    width: 35px;
    height: 35px;
    margin-bottom: auto;
    margin-top: 5px;
    margin-right: 3px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #FFA800;
    border-radius: 50%;
}
.div-btn-art-payment{
    width: 100px;
    height: 50%;
    display: flex;
    background: #F7F7F7;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    scale: .8;
}
.btn-art-payment{
    scale: .8;
}
.btn-delete-art{
    width: 15%;
    display: flex;
    place-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.svg-delete{
    scale: 1.8;
    margin-top: 10px;
}


.div-btn-pagar-payment{
    width: 100%;
    height: 50px;
}
.btn-pagar-payment{
    width: 100%;
    height: 100%;
    background-color: #FFA800;
    font-size: 1.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
}