.img-article{
    width: 35%;
    height: 100%;
    object-fit:contain;
    transition: filter 0.7s ease;
    filter: drop-shadow(2px 3px 7px rgba(0, 0, 0, 0.5));
    transform: scale(0.8);
}




.article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
}



.buttonnavigation{
    width: 70%;
}

.span-price-article{
    width: 30%;
    height: 100%;
    padding-left: 10px;
    font-weight: 700;
    color: #2FB300;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-alarm-art{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}
.icon-alarm{
    scale: .6;
}
.div-description-article{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    text-align: left;
    padding: 2px;
    border-radius: 10px;
}

.div-title-article{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 5px;
}
.div-data-article{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}


.div-article-description{
    width: 100%;
    height: 50%;
    padding: 0 .8rem;
    font-size: clamp(12px, 1vw + .3rem, 18px);
    color: black;
    font-weight: 600;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: wrap;
    text-align: center;
}


.btn-link-article{
    text-decoration: none;
    cursor: pointer;
}
.btn-carrito-article{
    width: 25%;
    height: 85%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.icon-article{
    margin: 0px auto;
    transform: scale(.8);
    filter: invert(0%) sepia(87%) saturate(7447%) hue-rotate(75deg) brightness(85%) contrast(96%);
}
    


@media(min-width: 500px){
    .article{
        width: 100%;
        height: 100%;
        padding: 0.2rem;
    }
    
    .img-article{
        width: 100%;
        height: 100%;
        object-fit: contain;
        scale: 1;
    } 
    
    .div-article-description{
            height: 30px;
            font-size: clamp(8px, 10px, 12px);
            padding: 0 0.5rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Cambia 2 por el número de líneas deseadas */
            line-height: 1.5;
        }
    .div-description-article{
        width: 100%;
        height: 60%;
        background-color: #debb68e1;
        gap: 0;
        padding: 0;
        padding-top: 5px;
        justify-content: space-evenly;
    }
    .btn-link-article{
        padding: 0;
        background-color: transparent;
        border: none;
    }
    }