/*Contenedor padre*/
.custom-article{
    width: 100%;
    height: 100%;
}

/*Contenedor padre de la imagen*/
.custom-width-img-article {
    width: 100%; /* Para pantallas pequeñas */
    height: 50%;
    padding: 0 10px;
    /* background-color: hsla(0, 0%, 100%, 0.8); */
    display: flex;
    align-items: center;
}



/*Contenedor padre de la descripción*/
.custom-div-description-article{
    width: 100%; /* Para pantallas pequeñas */
    height: 50%;
}

/*Contenedor del titulo*/
.div-title-article{
    width: 100%;
    height: 30%;
    
}

/*Contenedor de la demora*/
.div-data-article{
    width: 100%;
    height: 25%;
}

/*Contenedor de los botones*/
.div-btn-article{
    width: 100%;
    height: 30%;
}

/*Contenedor de los articles*/

.section-carta{
    width: 100%;
    height: 60vh;
}



/*Breakpoint a partir de los 469px de ancho de pantalla*/
@media (min-width: 500px) {
    .custom-width-img-article {
        width: 90%; 
        height: 40%;
        object-fit: contain;
        scale: .9;
       
    }



}

@media (min-width: 650px) {
    .section-carta{
        width: 90%;
        height: 65vh;
        column-gap: 1.2rem;
        row-gap: 1.2rem;
    }
}

@media (min-width: 930px) {
    .container-productos{
        width: 65%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .section-carta{
        width: 100%;
        height: 80vh;
        row-gap: 4rem;
        
    }
    /*Contenedor del payment en lg*/
    .container-payment{
        width: 25%;
        height: 90vh;
    }
}